<h2 class="sidebar-title">Popular Posts</h2>
<div class="grid">
    {% for post in posts %}
    <div class="portfolio-item popular">

        {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="{{ post.title }}">
        {% else %}
        <img src="https://funart.pro/uploads/posts/2021-04/1618230385_31-p-tigri-v-rossii-zhivotnie-krasivo-foto-37.jpg"
             alt="{{ post.title }}">
        {% endif %}

        <div class="portfolio-text">
            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
            <p>By {{ post.author }} <span>|</span>{{ item.created_at|date:'d.m.Y' }}</p>
        </div>
    </div>

    {% endfor %}

</div>